.dyna-slider-stats-bar {
  display: flex;
  height: 100%;
  align-items: flex-end;
  transition: height 200ms ease-in-out;

  &__item {
    flex: 1 1;
    background-color: gray;
    margin: 0 0.5px;
  }
}