@import (reference) "~dyna-ui-styles/styles/WHITE_BLACK";
@import (reference) "~dyna-ui-styles/styles/WHITE_RED";
@import (reference) "~dyna-ui-styles/styles/RED_WHITE";
@import (reference) "~dyna-ui-styles/styles/WHITE_ORANGE";
@import (reference) "~dyna-ui-styles/styles/BLACK_WHITE";
@import (reference) "~dyna-ui-styles/styles/BLACK_ORANGE";
@import (reference) "~dyna-ui-styles/styles/GREY_WHITE";
@import (reference) "~dyna-ui-styles/styles/ORANGE_WHITE";
@import (reference) "~dyna-ui-styles/colors/pantone-coated";

.dyna-slider {
	&--color- {

		&BLACK_WHITE {
			.color-slider(@color-BLACK_WHITE-foreground-1, @color-BLACK_WHITE-foreground-2)
		}
		&BLACK_ORANGE {
			.color-slider(@color-BLACK_ORANGE-foreground-1, @color-BLACK_ORANGE-foreground-2)
		}
		&TRANSPARENT_ORANGE {
			.color-slider(@color-BLACK_ORANGE-foreground-1, @color-BLACK_ORANGE-foreground-2)
		}
		&TRANSPARENT_WHITE {
			.color-slider(@color-BLACK_WHITE-foreground-1, @color-BLACK_WHITE-foreground-2)
		}
		&ORANGE_WHITE {
			.color-slider(@color-ORANGE_WHITE-foreground-1, @color-ORANGE_WHITE-foreground-2)
		}
		&RED_WHITE {
			.color-slider(@color-RED_WHITE-foreground-1, @color-RED_WHITE-foreground-2)
		}
		&GREY_WHITE {
			.color-slider(@color-GREY_WHITE-foreground-1, @color-GREY_WHITE-foreground-2)
		}
		&WHITE_BLACK {
			.color-slider(@color-WHITE_BLACK-foreground-1, @color-WHITE_BLACK-foreground-2)
		}
		&WHITE_RED {
			.color-slider(@color-WHITE_RED-foreground-1, @color-WHITE_RED-foreground-2)
		}
		&WHITE_ORANGE {
			.color-slider(@color-WHITE_ORANGE-foreground-1, @color-WHITE_ORANGE-foreground-2)
		}
	}
}

.color-slider(@slider-color,@line-color) {
	.rc-slider-handle {
		border-color: @slider-color;
		background-color: @slider-color;

		&:active {
			border-color: @slider-color;
			box-shadow: none;
		}

		&:hover {
			border-color: @slider-color;
		}
	}

	.rc-slider-track {
		background-color: @line-color;
	}

}

